<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
  <h1>Enter Todo Details</h1>
<hr>
<form th:object="${todo}" method="post">

  <fieldset>
  Description: <input type="text" th:field="*{description}" name="description" required>
  <input type="hidden" path="targetDate" th:field="*{targetDate}">
  <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
  </fieldset>


  <input type="submit" value="ADD">

</form>
</body>
</html>