<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>Enter Todo Details</h1>
<hr>
<form th:object="${todo}" method="post">
  Description: <input type="text" th:field="*{description}" name="description" required>
  <input type="hidden" path="targetDate" th:field="*{targetDate}">
  <input type="submit" value="ADD">
  <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

</form>
</body>
</html>